.main {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  margin-top: 90px;
  width: 100vw;
  transition: transform 200ms ease;
}
.visible-sidebar {
  transform: translate(300px);
}
.create-column-big-btn {
  width: 280px;
  min-height: 60%;
  max-height: 700px;
  border-radius: 10px;
  color: var(--grey-text);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 70px;
  display: block;
  margin-left: 20px;
  flex: 0 0 280px;
  &:hover {
    color: var(--main-purple)
  }
}
.dark {
    background-image: linear-gradient(to bottom, rgba(43, 44, 55, .4), rgba(43, 44, 55, .1));
  }
.light {
background-image: linear-gradient(to bottom,rgb(233, 239, 250), rgba(233, 239, 250, .5));
}

.empty-task-board {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--grey-text);
  font-size: 1.5rem;
  margin-top: 35vh;
  & > button {
    background-color: var(--main-purple);
    border-radius: 40px;
    color: white;
    height: 40px;
    width: 180px;
    margin-top: 20px;
    font-size: 1rem;
    padding: 0 10px;
    &:hover {
      background-color: var(--main-purple-hover);
    }
  }
}