@use '../../mixin' as *;

.delete-popup {
  background-color: var(--grey-bg);
  border-radius: 10px;
  color: var(--grey-text);
  max-width: 480px;
  min-height: 250px;
  padding: 30px;
  width: 80vw;
  & > .title {
    color: var(--red);
    display: block;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  & > button:first-child {
    margin-bottom: 20px;
  }
  & > p {
    margin-bottom: 20px;
  }
}
